   <!-- Start of Rant List Page -->
                <!-- ======================= -->
                <div class="post-list">
                    
                    <app-loader *ngIf="isLoading"></app-loader>
                    <span [hidden]="isLoading">
                    <app-rant  *ngFor="let rant of rantList"
                    [rantValues] = "rant"
                    >
                    </app-rant>
                </span>
                    
                    <div class="rant__add" title="Add Rant">+</div> 
                    </div>
                  <!-- ======================= -->
                  <!-- End of Rant List Page -->
  