  
    <div class="page">

        <!-- Start of Header -->
		<!-- ======================= -->
  
    
       <app-header></app-header>
		
		<!-- ======================= -->
        <!-- End of Header -->

        <!-- Start of Main Section -->
		<!-- ======================= -->
		
        <section class="main layout--center">
            <div class="main__content layout--wrapped">
               <app-loader></app-loader>
                <!-- ======================= -->
                <!-- End of Rant Details Page-->

            </div>
        </section>
		
		<!-- ======================= -->
        <!-- End of Main Section -->

    </div>


